PROJECT_NAME="E-Commerce Product Search System"
ENV="development"
PORT=8000

# PostgreSQL Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=ecommerce_db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=60

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_PRODUCT_EVENTS=product-events

# OpenSearch Configuration
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_INDEX_PRODUCTS=products
